
<%= render 'layouts/navbar' %>
<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">Resume<span class="highlight">Box</span></h2>
        <p class="intro">Share and View Internship Resumes</p>
        <% if !user_signed_in? %>
            <div class="btns">
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-cta-primary" %>
                 <%= link_to "Login", new_user_session_path, class: "btn btn-cta-primary" %>
            </div>
        <% else %>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-cta-primary" %>
        <% end %>


        <ul class="meta list-inline">
            <li><a href="https://github.com/xuyuwei/resumebox" target="_blank">View on GitHub</a></li>
        </ul><!--//meta-->
    </div><!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">

            </ul>
        </div>
    </div>
</section><!--//promo-->
<!-- ******ABOUT****** -->
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">What is ResumeBox?</h2>
        <p class="intro text-center">ResumeBox is a platform where students are able to share their resumes and view other resumes in order to help with the internship/job hunting process. Most people post their resumes on their LinkedIn profile or personal website anyways, so we think of this website as an extension of those online profiles. Upload your resume today and begin viewing other people's resumes!</p>
    </div><!--//container-->
</section><!--//about-->
