.signup {

  background: #b4ca65;
  padding: 75px;
}
.signup .title {
  font-size: 98px;
  color: #607026;
  margin-top: 0;
}
.signup .title .highlight {
  color: #dd7c4f;
}
.signup .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.signup .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
