
.resume {
  background: #b4ca65;
  padding-top: 150px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  
}

input {
  height: auto !important;
}