// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ======= Promo Section ======= */
.promo {
  background:  url(signin.png) no-repeat center;
  color: #fff;
  padding-top: 150px;
}
.promo .title {
  font-size: 98px;
  color: #fff;
  margin-top: 0;
}
.promo .title .highlight {
  color: #22A7F0;
}
.promo .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}
.promo .meta {
  margin-top: 120px;
  margin-bottom: 30px;
  color: #fff;
}
.promo .meta li {
  margin-right: 15px;
}
.promo .meta a {
  color: #ffffff;
}
.promo .meta a:hover {
  color: #E4F1FE;
}
.promo .social-media {
  background: #446CB3;
  padding: 10px 0;
  margin: 0 auto;
}
.promo .social-media li {
  margin-top: 15px;
}
.promo .social-media li.facebook-like {
  margin-top: 0;
  position: relative;
  top: -5px;
}